*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}

header{
    background-color: red;
    text-align: center;
    padding-top: 30px;
    color: white;
}

.navbar{
    text-align: center;
}

.navbar h1{
    color: white;
    
}

.navbar a{
    color: white;
    display: inline-block;
    margin: 20px 20px;
}

.navbar a:hover{
    color: blue;
    transform: scale(1.1);
    transition: all .5s;
}

.navbar li{
    display: inline-block;
}


.info{
    text-align: center;
}

.info h2{
    margin-top: 20px;
}

.info p{
    margin-top: 10px;
}

.contacto{
    display: block;
    text-align: center;
    
}

form{
    background-color: rgb(238, 234, 229);
    display: inline-block;
    padding: 0px 30px;
    border-radius: 15px;
    padding-bottom: 30px;
}

.contacto h2{
    margin-top: 15px;
    text-align: center;
}

.contacto label{
    display: block;
    margin: 15px;
}

.botoncito{
    display: block;
    width: 100%;
    margin-top: 15px;
    background-color: red;
    color: white;
}

input, textarea{
    border-radius: 20px;
}

input{
    padding: 10px 60px;
}

textarea{
    padding: 10px 60px;
}


footer{
    background-color: red;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 80px;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer h3{
    padding-top: 50px;
    color: white;
}






footer{
    background-color: red;
    text-align: center;
    margin-top: 10px;
   padding-bottom: 50px;
}

footer h3{
    padding-top: 50px;
    color: white;
}
